@import 'variables';

@mixin control-primary {
    background-color: $bg-control-primary;
    color: $text-control-primary;
    border: 1px solid $border-control-primary;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color $action-anim-delay ease-in-out,
        color $action-anim-delay ease-in-out;
    
    &:hover {
        background-color: lighten($bg-control-primary, 10%);
    }
    
    &:active {
        background-color: darken($bg-control-primary, 10%);
        color: darken($text-control-primary, 10%);
    }
}