@import 'variables';

.rc-slider {
  height: 1.5em;
  padding: 0.6em 0;
  margin: 10px;
}

.rc-slider-rail,
.rc-slider-track {
  height: 0.3em;
}

.rc-slider-track {
  background-color: lighten($bg-control-primary, 20%);
}

.rc-slider-handle {
  border-color: lighten($bg-control-primary, 20%);
  border-width: 0.5em;
  width: 1.5em;
  height: 1.5em;
  margin-top: -0.5em;
}

.rc-slider-disabled {
  background-color: transparent;
}

.rc-slider-track,
.rc-slider-handle {
  transition: background-color $anim-delay ease-in-out,
    border-color $anim-delay ease-in-out;
}
