@import 'variables';

$input-bg: darken($dark-gray, 5%);
$input-color: $off-white;
$input-border: lighten($dark-gray, 50%);

$input-bg-color-autofill: $dark-gray;
$input-color-autofill: $off-white;

$popup-bg: $dark-gray;
$popup-border: lighten($dark-gray, 50%);

$text-color: $off-white;
$state-color-hover: $dark-gray;

$input-color-placeholder: $off-white;

$state-bg-select: $bg-control-primary;
$state-border-focus: lighten($bg-control-primary, 20%);

$multiselect-tag-bg: $off-white;
$multiselect-tag-color: $dark-gray;

@import '~react-widgets/lib/scss/react-widgets';