$falcon-purple: #1F2249;
$falcon-red: #B0494A;
$falcon-gold: #EBCE38;
$dark-gray: #222;
$light-gray: #444;
$off-white: #eee;

$bg-page: $dark-gray;
$bg-content-primary: $off-white;
$bg-content-secondary: $falcon-purple;

$bg-control-primary: rgb(40, 65, 91);
$text-control-primary: #fff;
$border-control-primary: darken($bg-control-primary, 10%);

$text-page: #fff;
$text-content-primary: $dark-gray;
$text-content-primary-header: #000;
$text-content-secondary: #fff;

$text-nav: #eee;
$text-nav-active: #fff;

$base-font-size: 13px;
$base-font-fam: Arial, "Helvetica Neue", Helvetica, sans-serif;

$mono-font-fam: Consolas, monaco, monospace;

$max-page-width: 1200px;
$nav-height: 48px;
$gutter: 20px;

$anim-delay: 500ms;
$action-anim-delay: 200ms;

$button-color: $falcon-red;
$button-width: $nav-height;
$button-height: $nav-height;