@import '../../../styles-global/variables';
.row {
  display: flex;
  padding: $gutter/2;
  border-bottom: 1px solid $text-page;

  .control-label {
    flex: 0 0 auto;
    width: 30%;
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 0 $gutter/2;
  }

  .icon {
    padding: 0 5px;
    flex: 0 0 1em;
    font-size: 2em;
    text-align: center;
  }

  .control-container {
    flex: 1;
    width: 70%;
    display: flex;
    align-items: center;
  }
}
