.cardImg {
  width: 223px;
  height: 310px;
  margin: 1em auto;
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    z-index: -10;
    border-radius: 14px;

    &.current {
      opacity: 1;
      z-index: 10;
    }
  }
}

.oracle {
  text-align: left;
  font-family: MPlantin, 'Times New Roman', serif;
  color: #eee;

  .nameRow {
    display: flex;
    justify-content: space-between;
  }

  .nameRow,
  .typeline,
  .power {
    font-family: 'Beleren Bold', sans-serif;
  }

  .flavorText {
    font-style: italic;
  }

  & > div:not(:last-child) {
    border-bottom: 1px solid #eee;
  }
}
