.cardImg {
  width: 223px;
  height: 310px;
  margin: 1em auto;
  position: relative;
  border-radius: 14px;
  overflow: hidden;
}

.oracle {
  text-align: left;
  font-family: MPlantin, 'Times New Roman', serif;
  color: #eee;

  .nameRow {
    display: flex;
    justify-content: space-between;
  }

  .nameRow,
  .typeline,
  .power {
    font-family: 'Beleren Bold', sans-serif;
  }

  .flavorText {
    font-style: italic;
  }

  & > div:not(:last-child) {
    border-bottom: 1px solid #eee;
  }
}
