@import '../../../styles-global/variables';

.cardPreview-container {
  max-width: 330px;
  margin: auto;
}

.cardImg {
  width: $card-width;
  height: $card-height;
  margin: 1em auto;
  position: relative;
  border-radius: $card-border-radius;
  overflow: hidden;
}

.oracle {
  text-align: left;
  font-family: MPlantin, 'Times New Roman', serif;
  color: #eee;
  white-space: pre-wrap;

  .nameRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nameRow,
  .typeline,
  .power {
    font-family: 'Beleren Bold', sans-serif;
  }

  .power {
    position: relative;

    & > span {
      position: absolute;
      top: -5px;
      right: 0;
      padding: 2px 10px;
      background-color: $dark-gray;
      border: 1px solid $off-white;
      border-radius: 5px;
    }
  }

  .flavorText {
    font-style: italic;
  }

  & > div:not(:last-child) {
    border-bottom: 1px solid $off-white;
  }

  & > div {
    padding: 5px 0;
  }
}
