@use 'sass:math';
@import '../../../styles-global/variables';

@mixin StackTop {
  transform: translateX(0);
  z-index: 2;
  left: 0;
  top: 0;
}

@mixin StackMid {
  transform: translateX(0);
  z-index: 1;
  left: $gutter;
  top: $gutter;
}

@mixin StackBot {
  transform: translateX(0);
  z-index: 0;
  left: $gutter * 2;
  top: $gutter * 2;
}

@mixin StackFlipping {
  transform: translateX(math.div(-$card-width, 2));
  z-index: .5;
  left: $gutter;
  top: $gutter;
}

/* Based on ParkHJ11's Playing Card Shuffle codepen: https://codepen.io/parkhj11/pen/KKwWRza */
.stack {
  position: relative;
  transform: translateX(math.div($card-width, 4) - $gutter);
}

.card {
  width: $card-width;
  height: $card-height;
  border-radius: $card-border-radius;
  overflow: hidden;
  position: absolute;
  animation: startTop 1s $anim-delay linear infinite;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.card:first-child {
  @include StackTop();
  animation-name: startTop;
}

.card:nth-child(2) {
  @include StackMid();
  animation-name: startMid;
}

.card:last-child {
  @include StackBot();
  animation-name: startBot;
}

@keyframes startTop {
  16% {
    @include StackFlipping();
  }
  33% {
    @include StackBot();
  }
  66% {
    @include StackMid();
  }
}

@keyframes startMid {
  33% {
    @include StackTop();
  }
  50% {
    @include StackFlipping();
  }
  83% {
    @include StackBot();
  }
}

@keyframes startBot {
  33% {
    @include StackMid();
  }
  66% {
    @include StackTop();
  }
  83% {
    @include StackFlipping();
  }
}

@media all and (max-width: 800px) {
  .stack {
    transform: none;
  }
}