@use '../../style/variables';

.manaCheckbox {
    margin-right: 5px;
    cursor: pointer;
    transition: filter variables.$action-anim-delay ease-in-out;

    input[type="checkbox"]{
        display: none;
    }

    i {
        opacity: 0.5;
        transition: opacity variables.$action-anim-delay ease-in-out;

        &.selected {
            opacity: 1;
        }
    }

    &:hover {
        filter: brightness(130%);
    }
}