@import '../../../styles-global/variables';

.mtg-slider {
  .mtg-slider {
    padding-left: $gutter;
  }
}

.slider {
  flex: 10 0;
}

.count {
  padding: 5px 10px;
  font-weight: bold;
  text-align: right;
  flex: 1 1;
  font-family: $mono-font-fam;
}
