@import '../../../styles-global/variables';

.mtg-slider {
  .mtg-slider {
    padding-left: $gutter;
  }
}

.slider {
  flex: 10 0;
}

.count {
  padding: 0 10px;
  font-weight: bold;
  text-align: right;
  flex: 1 1;
  font-family: $mono-font-fam;
  max-width: 20px;
}

.disable-icon {
  cursor: pointer;
  color: #999;
  transition: color $anim-delay ease-in-out;

  &:hover {
    color: #bbb;
  }
}

.disabled {
  color: red;

  &:hover {
    color: lighten(red, 10%);
  }
}