@use 'sass:color';
@use 'sass:math';

$falcon-purple: #1F2249;
$falcon-red: #B0494A;
$falcon-gold: #EBCE38;
$steel-blue: rgb(40, 65, 91);
$dark-gray: #222;
$light-gray: #444;
$off-white: #e0e0e0;

$bg-page: $dark-gray;
$bg-content-primary: $off-white;
$bg-content-secondary: $falcon-purple;

$bg-control-primary: $steel-blue;
$text-control-primary: #fff;
$border-control-primary: color.scale($bg-control-primary, $lightness: -10%);

$text-page: $off-white;
$text-content-primary: $dark-gray;
$text-content-primary-header: #000;
$text-content-secondary: #fff;

$link-color: #fff;

$text-nav: $off-white;
$text-nav-active: #fff;

$base-font-size: 13px;
$base-font-fam: Arial, "Helvetica Neue", Helvetica, sans-serif;

$mono-font-fam: Consolas, monaco, monospace;

$max-page-width: 1200px;
$nav-height: 48px;
$gutter: 20px;

$anim-delay: 500ms;
$action-anim-delay: 200ms;

$correctBg: #02ff02;
$correctText: color.scale($correctBg, $lightness: -80%);

$incorrectBg: #ff0202;
$incorrectText: color.scale($incorrectBg, $lightness: 80%);

$card-width: 223px;
$card-height: 310px;
$card-border-radius: 14px;