@use 'sass:math';
@import '../../../styles-global/variables';
@import '../../../styles-global/mixins';

.mtg-container-outer {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  padding-bottom: $gutter;
}

.left-col,
.right-col {
  transition: all $anim-delay ease-in-out;
}

.left-col {
  flex: 3;
  margin-right: $gutter;
  max-height: 2000px;
}

.right-col {
  flex: 1;
  margin-left: $gutter;
}

.cmdr-preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  & > div {
    flex: 1;
    max-width: 330px;
  }

  .results-container {
    flex: 0.001;
    overflow: hidden;
  }
}

.format-extra__row {
  padding: math.div($gutter, 2) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.format-extra {
  flex: 1;

  &:last-child {
    text-align: right;
  }
}

.btn-primary {
  @include control-primary;
  margin: 5px 0;
  padding: 5px 10px;

  &:not(:last-child) {
    margin-right: 1em;
  }
}

.btn-clear-overlay {
  position: absolute;
  top: 0.71em;
  right: 2em;
  background: transparent;
  border: none;
  color: $off-white;
  width: 1em;
  height: 1em;
  padding: 0;
  cursor: pointer;
  transition: color $action-anim-delay ease-in-out;

  &:hover {
    color: lighten($off-white, 10%);
  }
}

.results {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.resultBox {
  width: 100%;
  flex: 1;
  background-color: darken($dark-gray, 5%);
  border: 1px solid lighten($dark-gray, 50%);
  color: $off-white;
}

.loader,
.results {
  opacity: 0;
  transition: opacity $anim-delay ease-in-out;
}

.loader {
  max-height: $card-height;
}

.generating {
  .left-col {
    overflow: hidden;
    flex: 0.0001;
    max-height: 500px;
    opacity: 0;
  }

  .right-col {
    margin-left: 0;
    margin-bottom: $gutter;
  }

  .cmdr-preview .results-container {
    flex: 1;
    overflow: visible;
    min-height: 400px;
    padding: 0 $gutter;
  }

  .results {
    opacity: 0;
  }

  .loader {
    opacity: 1;
  }
}

.generated {
  .loader {
    opacity: 0;
    overflow: hidden;
    max-height: 0;
  }

  .results {
    opacity: 1;
  }
}

@media all and (max-width: 800px) {
  .mtg-container-outer {
    flex-direction: column;
  }

  .left-col {
    max-height: none;
    margin-right: 0;
  }

  .right-col {
    margin-left: 0;
  }

  .generating {
    .left-col {
      max-height: 0.1px;
    }
  }

  .format-extra__row {
    flex-direction: column;
  }

  .format-extra {
    padding-bottom: 1em;

    &:last-child {
      text-align: inherit;
      padding-bottom: 0;
    }
  }

  .commander-extra__row {
    text-align: center;
  }

  .btn-primary:not(:last-child) {
    margin-right: 0;
  }
}
