.mtg-container-outer {
    display: flex;
    flex-wrap: wrap;

    .left-col {
        flex: 3;
    }

    .right-col {
        flex: 1;
    }
}

.cmdr-preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}